/* *{
  background-image: url("img.jpg");
  background-repeat: no-repeat;
} */
*{
  color: white;
}
.home{
  background-image: url("image2.jpg");
  background-repeat: no-repeat;
  height:100vh;
  background-size: cover;
  padding-left: 200px;
  display: flex;
  flex-direction: column;
  align-items:flex-start;
  justify-content: space-evenly;
}

input[type="text"]{
  width:75%;
  border: none;
  outline: none;
  border-bottom: 1px solid black;
  background-color:rgb(104, 2, 104);
}

input[type="submit"]{
  padding: 3px;
  border: none;
  color:white;
  border-radius: 100%;;
  background-color:rgb(104, 2, 104);
}

.create{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.tas{
  display: flex;
  align-items: center;
  width:345px;
  justify-content: space-between;
  /* color: white; */
  height: 35px;
  padding: 2px 5px 2px 5px;
  margin-top: 2px;
  /* border: 1px solid black; */
}

.checkbox{
  display: flex;
  align-items: center;
}

.checkbox .icon{
  margin-right: 5px;
  font-size: 15px;
}

.tas div span{
  margin: 0px 5px 0px 4px;
}

.tas div span .icon{
  cursor: pointer;
  font-size: 15px;
}

.line{
  text-decoration: line-through;
}

#ab{
  font-size: 20px;
}

.abc{
  padding-bottom: 15px;
  /* height: 30px; */
  /* width:40px; */
  /* border: 1px solid black; */
}