.home{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

input[type="text"]{
  width:75%;
  border: none;
  outline: none;
  border-bottom: 1px solid black;
}

input[type="submit"]{
  padding: 3px;
  border: 1px solid black;
  color:black;
  background-color: white;
}

.create{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.task{
  display: flex;
  align-items: center;
  width:345px;
  justify-content: space-between;
  /* color: white; */
  height: 35px;
  padding: 2px 5px 2px 5px;
  margin-top: 2px;
}

.checkbox{
  display: flex;
  align-items: center;
}

.checkbox .icon{
  margin-right: 5px;
  font-size: 15px;
}

.task div span{
  margin: 0px 5px 0px 4px;
}

.task div .icon{
  cursor: pointer;
}